.colorBox{
    width: 100%;
    min-height: 150px;
    border: solid 1px silver;
    margin: 8px;
}
.colorChip{
    width:  320px;
    height: 240px;
    border: solid 1px silver;
    margin: 8px;
    cursor: pointer;

}

.colorChip:hover {
    border: solid 2px red;
}